yrpc-config/yrpc-config-spring/src/main/resources/META-INF/yrpc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns="http://code.yl.com/schema/yrpc"
            targetNamespace="http://code.yl.com/schema/yrpc">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>


    <xsd:complexType name="serviceType">
        <xsd:attribute name="interface" type="xsd:token" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    <![CDATA[ Defines the interface to advertise for this service in the service registry. ]]>
                </xsd:documentation>
                <xsd:appinfo>
                    <tool:annotation>
                        <tool:expected-type type="java.lang.Class"/>
                    </tool:annotation>
                </xsd:appinfo>
            </xsd:annotation>

        </xsd:attribute>

    </xsd:complexType>

    <xsd:element name="service" type="serviceType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Export service config ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>